.placeHolderFigure {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #19191c;
}

.placeHolderTitle {
  width: 400px;
  margin: 0 auto;
  height: 20px;
  background-color: #19191c;
  margin-top: 15px;
  margin-bottom: 5px;
}

.placeHolderStreamTiTle {
  width: 400px;
  margin: 0 auto;
  height: 20px;
  background-color: #19191c;
  margin-top: 15px;
  margin-bottom: 5px;
}
