.headerContainer {
  background-color: transparent;
  height: 130px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.headerContainerScrolled {
  background-color: #000000;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  margin-top: 15px;
}

.headerLogo {
  width: 120px;
  height: 60px;
}

.headerLogoScrolled {
  width: 100px;
  height: 40px;
}

.heading {
  font-family: "Bebas Neue";
  outline: none;
  font-size: 34px;
  width: 350px;
  padding: 22px;
  line-height: 10px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #9146ff;
  margin: 0;
  color: #9146ff;
  background-color: black;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.headingScrolled {
  font-family: "Bebas Neue";
  outline: none;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  color: #9146ff;
  background-color: black;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.heading:hover {
  border-bottom-width: 10px;
  border-left-width: 10px;
}

@media screen and (max-width: 860px) {
  .heading {
    width: 100%;
    box-sizing: border-box;
  }
}
