@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oxygen:bold");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue:bold");

body {
  font-family: "Oxygen";
}

.container {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: unset;
  background-color: black;
  background-image: url("./assets/dot-background.svg");
  background-repeat: repeat;
  background-size: 40px;
  background-position: -20px -20px;
}

main {
  margin: 0 auto;
  margin-top: 110px;
}
